.profile-main {
  margin: 0 5% 0 10%;
}

.profile-main h1 {
  font-size: 48px;
}

.profile-main h2 {
  font-size: 18px;
}

.profile-name {
  color: red;
}

.keyDatas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#profile-description {
  display: flex;
  justify-content: space-between;
}

.mini-charts {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.charts {
  width: 80%;
  margin-right: 31px;
}

@media only screen and (max-width: 1280px) {
  .charts {
    margin-right: 0;
  }
}
